@charset "utf-8";

html{background-color: grey}
header{color: black; font-family: "Comic Sans MS";font-size: large;text-align: left}
footer{color: #000000;font-family: "Comic Sans MS";font-size: small;}